
.app__work-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.register_button{
  display: block;
  width: 200px;
  height: 50px;

  line-height: 40px;
  /* font-size: 24px; */
  /* font-family: sans-serif; */
  text-decoration: none;
  color: #fff;
  border: 2px solid rgb(43, 208, 220);
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
  border-radius: 5px;
}


.register_button:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #08cdac;
  transition: all .35s;
}

.register_button:hover{
  color: #fff;
  z-index: 3;
}
.register_button span{
  position: relative;
  z-index:3;
  color: white;
}
.register_button:hover:after{
  width: 100%;
}


