@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500;700&display=swap');

.total_bds_department{
    font-family: 'Oswald', sans-serif;
    font-size: 220px;
    line-height: 180px;
}
.total_bds_department_name{
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
}
.bds_heading_about{
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
}
