.contact_section_bg {
 background-image: url('../../img/bg9.jpg');
 background-position:center;
 background-repeat: no-repeat;
 background-size: cover;
 position: relative;
}

/* .contact_section_bg::before {
    content: "";
    background-color: rgba(12, 11, 10, 0.8);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
} */
.contact_section_bg >*{
    z-index: 100;
}

.contact_section{
    border:1px solid rgba(255,255,255,0.3);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 4px 30px rgba(0,0,0,0.2);
}


.contact_icons .icons{
    border: 1px solid white;
    font-size:30px;
    justify-self: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    justify-content: center;
    display: flex;
    align-items: center;
}

.contact_inputs input, textarea {
    background: rgba(255,255,255,0.2);
    border: 1px solid grey;
}
.contact_inputs > div{
    margin-top:1rem;
}