@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.intellia_heading{
    font-family: 'Kaushan Script', cursive;
    font-size: 160px;
}
.intellia_heading_about{
    font-family: 'Kaushan Script', cursive;
    font-size: 100px;
    
}
.department_heading{
    font-family: 'Roboto', sans-serif;

}
.intellia_heading_about::before{
    content:"About";
    color: white;
    position:absolute;
    top: -120px;
    right: 150px;
    font-size: 200px;
    opacity: 0.1;
    border-radius: 2px;
}
.back__video{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: fill;
}