@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

.intellia_heading{
    font-family: 'Kaushan Script', cursive;
}


.intellia_heading_about{
    font-family: 'Kaushan Script', cursive;   
}
.department_heading{
    font-family: 'Roboto', sans-serif;

}
/* .intellia_heading_about::before{
    content:"About";
    color: white;
    position:absolute;
    top: -80px;
    right: 150px;
    font-size: 200px;
    opacity: 0.1;
    border-radius: 2px;
} */
.back__video{
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    height: 100vh;
    width: 100%;
    object-fit: fill;
}
.home_wallpaper{
    background-image: url("../../img/home03.jfif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /* filter: grayscale(100%); */
}